@font-face {
  font-family: "Casa";
  src: url("/fonts/Far_Casablanca.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Casa", sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffc301 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffc301;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

html {
  direction: rtl;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: brown;
}

button {
  cursor: pointer;
}

footer {
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffc301;
  width: 100vh;
  height: 100%;
}
main {
  width: 100%;
  /* align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column; */
}
.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-img {
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
  width: 256px;
  overflow: hidden;
}

.home-btn {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border: 0;
  border-radius: 8px;
  background-color: #80482f;
  font-size: x-large;
  color: white;
  height: fit-content;
  width: 100%;
  img {
    width: 64px;
    margin-left: 5px;
  }
}
.menu-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menu-category {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30%;
  height: 100%;
  padding: 20px;
  gap: 20px;
  overflow-y: auto;
}

.menu-main {
  direction: ltr;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  padding: 50px;
  overflow-y: auto;
  gap: 20px;
}
.menu-back {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border: 0;
  border-radius: 8px;
  background-color: #80482f;
  font-size: x-large;
  color: white;
  height: fit-content;
  width: 100%;
  padding: 8px;
}
.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-radius: 20px;
  background-color: #80482f;
  padding: 20px;
  gap: 5px;
}
.category-img {
  object-fit: cover;
  width: 64px;
}
.category-text {
  color: white;
  font-size: 14px;
  text-align: center;
}
.product-card {
  background-color: #ffc301;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  border-radius: 25px;
  width: 100%;
  border: 5px dashed #80482f;
}
.product-card-description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 100%;
  color: black;
}
.product-img {
  width: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-title {
  color: inherit;
}
.product-description {
  color: inherit;
}
.product-price {
  color: inherit;
  font-size: large;
  font-weight: 600;
}
/* Mobile Styles */
@media screen and (max-width: 600px) {
  /* CSS rules for mobile screens */
}

/* Tablet Styles */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* CSS rules for tablet screens */
}

/* Desktop Styles */
@media screen and (min-width: 1025px) {
  /* CSS rules for desktop screens */
}
