<div class="home-container">
  <p>خوش آمدید به</p>
  <h1>
    <%= businessName %>
  </h1>
  <img class="home-img" src="<%= logo %>">
  <a href="/menu"><button class="home-btn" onclick="navigateToMenuPage()"><img class="home-img" src="img/arrow.svg">منوی
      <%= businessName %></button></a>
</div>