<div class="home-container">
  <p>خوش آمدید به</p>
  <h1>
    <%= businessName %>
  </h1>
  <img class="home-img" src="<%= logo %>">
  <button class="home-btn"><img class="home-img" src="img/arrow.svg">منوی <%= businessName %></button>
  <i class="fa-sharp fa-solid fa-user"></i>

</div>