<!DOCTYPE html>
<html lang="fa">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <div class="container">

        <header><%- include('../partials/header.ejs'); %></header>

        <main>
            <%- include(mainContent); %>
        </main>

        <footer><%- include('../partials/footer.ejs'); %></footer>
    </div>

</body>

</html>